 div.a{
      display: inline-block;
      width: 70%;
    }
    div.b{
      display: inline;
      width: 30px;
      margin-left:80px;
    }
    div.d{
      display: inline;
      width: 30px;
      margin-left:80px;
    }
    div.collapse ul{
      list-style: none;
      box-shadow: 0 0.3em 0.3em -0.3em #0c0d0e inset, 0 -0.3em 0.3em -0.3em #0c0d0e inset;
      -webkit-box-shadow: 0 0.3em 0.3em -0.3em #0c0d0e inset, 0 -0.3em 0.3em -0.3em #0c0d0e inset;
      transition: padding .3s;
      -webkit-transition: padding .3s;
      background: rgba(255,255,255,.05);
    }
    div.collapse ul > li{
      margin-bottom: 20px;
    }
    .bb{
      margin-bottom:20px;
    }
    a{
      color:black;
    }

